.post-not-found {
  display: flex;
  justify-content: center;
}

.post-not-found__text {
  color: $color-black-fancy-light;
  font-size: 1.4em;
  font-weight: bold;
  text-transform: uppercase;
  height: 2em;
}

.post-not-found__img {
  width: 35rem;
  height: 35rem;
  border-radius: 100%;
  box-shadow: 6px 6px rgba($color: #444444, $alpha: 0.1);
}
