.post-detail-container {
  margin: 1em;
}

.post-detail {
  display: grid;
  grid-template-areas:
    "detail-title"
    "detail-author"
    "detail-body"
    "detail-vote";
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  width: 99%;
  font-size: 1em;
  background-color: $color-white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  padding: 0.5em;
  justify-content: center;
  span {
    font-weight: bold;
    font-size: 1.1em;
    color:$color-black;
    text-transform: uppercase;
  }

}

.post-detail__title {
  grid-area: detail-title;
}

.post-detail__author {
  grid-area: detail-author;
}

.post-detail__body {
  grid-area: detail-body;
}

.post-detail__vote {
  font-size: 1em;
  grid-area: detail-vote;
}

.post-details__createon {
  display: flex;
  margin-top: 2em;
}

.post-details__createon-title {
  font-weight: bold;
  padding-right: 0.4em;
}

.post-details__value {
  padding-right: 1em;
}
