.container {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
    "header header header"
    "navbar navbar navbar"
    ". . sortby"
    "posts posts posts"
    "footer footer footer";
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto auto;
}

.header-container {
  grid-area: header;
  padding: 1em;
}

.navbar-container {
  grid-area: navbar;
  padding: 1em;

}

.posts-container {
  grid-area: posts;
}

.footer-container {
  grid-area: footer;
}

.sortby-container {
  grid-area: sortby;
}
