.container {
  display: grid;
  grid-template-areas:
    "sortby"
    "posts";
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.posts-container {
  grid-area: posts;
}

.sortby-container {
  grid-area: sortby;
}
