.navbar {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: $color-nav-primary;
  border-radius: 0.2em;
}

.navbar__link {
  color: $color-white;
  text-decoration: none;
  padding: 1em;
  border-radius: 4px;
  &:hover {
    background-color: $color-nav-light;
  }
  &--active {
    background-color: $color-nav-dark;
  }
}