.post {
  display: grid;
  grid-template-areas:
    "post-title post-title"
    "post-author post-author"
    "post-button post-button"
    "post-vote post-footer";
  grid-template-columns: auto auto;
  grid-template-rows: 14vh 3em 5em 2em;
  width: 32%;
  margin-right: 1em;
  margin-bottom: 4px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  float: left;
  background-color: $color-white;
  place-self:center;
}

.post__title {
  grid-area: post-title;
  place-self:center;
}

.post__author {
  place-self:center;
  grid-area: post-author;
}

.post__button {
  grid-area: post-button;
  place-self:center;

}

.posts__add {
  position: absolute;
  bottom: 5em;
  right: 10em;
  text-decoration: none;
  // height: 3em;
  // width: 3em;
  background-color: $color-nav-primary;
  border-radius: 100%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
  z-index: 1000;
  color: $color-white;
  text-align: center;
  padding: 1em 1em;
}

.post__vote {
  padding-left: 4em;
  grid-area: post-vote;
}

.post__date {
  grid-area: post-footer;
}
