.post {
  display: grid;
  grid-template-areas:
    "post-title" "post-title"
    "post-author" "post-author"
    "post-button" "post-button"
    "post-footer" "post-footer";
  grid-template-columns: auto auto;
  grid-template-rows: 14vh 20px 20px 20px 20px;
  width: 30%;
  margin: 3px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.post__title {
  grid-area: post-title;
  justify-content: center;
}

.post__author {
  grid-area: post-author;
}

.post__button {
  grid-area: post-button;
}

.post__vote {
  grid-area: post-footer;
}

.post__date {
  grid-area: post-footer;
}
