/*
COLORS:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/

$color-primary: #55c57a;
$color-primary-ligth: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-ligth-1: #f7f7f7;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-black-fancy: #212121;
$color-black-fancy-light: #484848;

$color-nav-dark: #005662;
$color-nav-primary: #00838f;
$color-nav-light: #4fb3bf;

$color-body-primary: #e3f2fd;

$color-alert-primary: #e53935;
$color-alert-dark: #ab000d;
$color-alert-light: #ff6f60;

$color-btn-common-primary: #0277bd;
$color-btn-common-dark: #004c8c;
